@{
    ViewData["Title"] = "Home Page";
}

<header id="header" id="home">

    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="~/images/coffee1.png" height="40" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#home">Home</a></li>
                    <li><a href="#coffee">Best Coffee</a></li>
                    <li><a href="#review">Review</a></li>
                    <li><a href="#blog">Jenis</a></li>
                    <li><a href="login_admin.html">Login Admin</a></li>

                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<!-- start banner Area -->
<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content">
                <h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
                <h1>
                    Find your Coffee with<br>
                    Coffee Journey
                </h1>
                <div class="explore">
                    <a href="#coffee" class="genric-btn primary circle">Explore Now</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Start menu Area -->
<section class="menu-area section-gap" id="coffee">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Enam Kopi terbaik menurut kami</h1>
                    <p>Kopi mana menurut kamu</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kopi Luwak</h4>

                    </div>
                    <p>
                        Kopi yang satu ini tak hanya terkenal di Indonesia,
                        tapi juga di dunia. Kopi luwak yang berasal dari kotoran
                        hewan luwak ini bahkan dinobatkan menjadi kopi termahal di
                        dunia. Selain karena rasanya yang khas, kopi luwak menjadi
                        mahal karena prosesnya yang unik dan tak mudah.
                    </p>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kopi Jamaika</h4>

                    </div>
                    <p>
                        Bukan hanya Kolombia, negara di Benua Amerika lainnya
                        yang punya jenis kopi sendiri adalah Jamaika dengan kopi
                        populernya bernama Jamaica Blue Mountain. Terbuat dari kopi
                        biasa dengan cita rasa luar biasa. Kopi Jamaika terkenal
                        sebagai kopi kelas premium dengan harga tertinggi di dunia.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kopi Jawa</h4>

                    </div>
                    <p>
                        Daerah di Indonesia yang punya kopi dengan kepopuleran hingga ke seluruh
                        dunia adalah kopi Jawa. Kopi Jawa sudah diproduksi sejak abad ke-17 oleh
                        pemerintah Kolonial Belanda waktu itu. Kopi ini terbuat dari kopi arabika
                        biasa, tapi cita rasa dan kenikmatan yang dihasilkan cukup luarbiasa.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kopi Toraja</h4>
                    </div>
                    <p>
                        Kopi Toraja berasal dari Tanah Toraja, Sulawesi. Kepopuleran kopi Toraja tak
                        hanya di Indonesia saja, tetapi juga di dunia seperti Jepang dan Amerika Serikat.
                        Biji kopi yang ditanam terkenal sangat khas dan enak sejak jaman dahulu. Tak ayal karena
                        Toraja memang merupakan daerah pusat penghasil kopi terbesar di Indonesia.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kopi Kona</h4>

                    </div>
                    <p>
                        Dari deretan kopi termahal di dunia, pasti ada nama kopi Kona di sana.
                        Kopi dengan cita rasa yang khas dan nikmat ini hanya bisa tumbuh di Hawaii saja.
                        Tak ayal untuk dapat menikmati atau sekedar mencicipi kopi ini,
                        kita musti merogoh kocek cukup dalam.
                        Kopi Kona juga hanya bisa tumbuh di Hawai pada musim-musim tertentu.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Kopi Lampung</h4>

                    </div>
                    <p>
                        Kopi yang bersal dari salah satu daerah diIndonesia yaitu kopi Lampung.
                        Kopi Lampung sebagian besar masih termasuk dalam jenis kopi robusta.
                        Kopi yang terkenal dengan rasa dan aromanya yang khas ini
                        banyak dibudidayakan di dataran tinggi
                        seperti di sekitar Lampung Tenah, Lampung Barat, dan daerah Tanggamus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End menu Area -->
<!-- End banner Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Jenis - Jenis Kopi Dari Seluruh Dunia</h1>
                    <p>Setiap kopi berbeda sesuai tempat asalnya</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/luwak.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Luwak</br></h4>
                </a>
                <p>
                    Kopi yang satu ini tak hanya terkenal di Indonesia,
                    tapi juga di dunia. Kopi luwak yang berasal dari kotoran
                    hewan luwak ini bahkan dinobatkan menjadi kopi termahal di
                    dunia. Selain karena rasanya yang khas, kopi luwak menjadi
                    mahal karena prosesnya yang unik dan tak mudah.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Arabica.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Arabica</br></h4>
                </a>
                <p>
                    Kopi Arabica adalah kopi yang paling populer di dunia di antara
                    kopi lainnya. Ini karena jenis kopi Arabica bisa ditemui di hampir
                    semua negara di dunia. Kopi arabicaadalah kopi dengan cita rasa dan
                    aroma yang paling nikmat menurut para pecinta kopi. Tak heran jika
                    kopi jenis ini dapat menguasai pasar kopi dunia.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Robusta.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Robusta</br></h4>
                </a>
                <p>
                    Berikutnya ada kopi robusta yang juga populer di hampir seluruh dunia.
                    Kopi jenis ini tak hanya tumbuh di daerah berhawa sejuk saja, tapi bisa
                    juga di daerah yang panas. Cita rasa dan aroma kopi robusta tak senikmat
                    arabica. Kopi ini cenderung berasa pahit dan sedikit asam,
                    kandungan kafeinnya juga tinggi.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Liberika.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Liberika</br></h4>
                </a>
                <p>
                    Kopi Liberika terbuat dari biji kopi Arabika dan Robusta yang dipadukan
                    menjadi satu hingga menghasilkan kopi dengan cita rasa kelas dunia. Kopi ini hanya bisa
                    ditemui di Liberia, Afrika, jadi tak heran jika harga kopi Liberika sangatlah mahal.
                    Kelebihan dari kopi ini adalah ketika diolah menjadi espresso dan latte.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Kolombia.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Kolombia</br></h4>
                </a>
                <p>
                    Berasal dari Afrika dan masih termasuk dalam jenis kopi arabika,
                    kopi Kolombia punya cita rasa yang berbeda dari induknya. Meski
                    dari Afrika, tapi kopi ini dikembangkan di Kolombia dan hanya
                    bisa ditemui di sana. Rasa yang dihasilkan di setiap seduhannya
                    jauh lebih nikmat ketimbang kopi arabika biasa.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Excelsa.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Excelsa</br></h4>
                </a>
                <p>
                    Pohon kopi ini bisa tumbuh dibeberapa jenis lahan seperti lahan gambut
                    dan dataran rendah dengan kisaran 0-750 mdpl.Keunikan lainnya adalah
                    pohon kopi excelsa dapat tetap tahan pada suhu tinggi dan kekeringan.
                    Pohon kopi excelsa biasanya bisa mencapai 20 meter. Daunnya besar dan
                    lebar serta berwarna hijau keabuan.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Jamaika.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Jamaika</br></h4>
                </a>
                <p>
                    Bukan hanya Kolombia, negara di Benua Amerika lainnya
                    yang punya jenis kopi sendiri adalah Jamaika dengan kopi
                    populernya bernama Jamaica Blue Mountain. Terbuat dari kopi
                    biasa dengan cita rasa luar biasa. Kopi Jamaika terkenal
                    sebagai kopi kelas premium dengan harga tertinggi di dunia.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Jawa.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Jawa</br></h4>
                </a>
                <p>
                    Daerah di Indonesia yang punya kopi dengan kepopuleran hingga ke seluruh
                    dunia adalah kopi Jawa. Kopi Jawa sudah diproduksi sejak abad ke-17 oleh
                    pemerintah Kolonial Belanda waktu itu. Kopi ini terbuat dari kopi arabika
                    biasa, tapi cita rasa dan kenikmatan yang dihasilkan cukup luarbiasa.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Gayo.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Gayo</br></h4>
                </a>
                <p>
                    jenis kopi ini berasal dari Tanah Gayo di Aceh. Kopi ini telah dikembangkan
                    sejak 1908. Kopi Gayo berasal dari pohon kopi yang ditanam di dataran tinggi
                    dan diolah dengan ketelitian tinggi. Tak heran, jika kopi Gayo punya kulitas
                    kopi kelas premium.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Toraja.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Toraja</br></h4>
                </a>
                <p>
                    Kopi ini berasal dari Tanah Toraja, Sulawesi. Kepopuleran kopi Toraja tak hanya
                    di Indonesia saja, tetapi juga di dunia seperti Jepang dan Amerika Serikat.
                    Biji kopi yang ditanam di Toraja terkenal sangat khas dan enak sejak jaman dahulu.
                    Tak ayal karena Toraja memang merupakan daerah pusat penghasil kopi terbesar di Indonesia.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Catimor.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Catimor</br></h4>
                </a>
                <p>
                    Jenis kopi catimor adalah salah satu unsur dari kopi Robusta yang sering ditemui
                    di daerah Timur. Kopi jenis ini punya keasaman yang rendah seperti halnya robusta.
                    Untuk menghasilkan after taste yang nikmat setelah meminumnya, kopi ini perlu diolah
                    dengan baik dan benar. Jika itu dilakukan maka after taste yang dihasilkan adalah
                    sentuhan fruity dan herbal yang nikmat.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Bourbo.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Bourbon</br></h4>
                </a>
                <p>
                    Kopi yang satu ini punya citarasa manis yang khas dan tekstur yang halus dan menarik.
                    Kopi Bourbon terkenal langka karena pohonnya yang mudah rapuh sehingga menghasilkan biji
                    kopi yang lebih sedikit daripada kopi pada umumnya.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/kopi Catuai.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Catuai</br></h4>
                </a>
                <p>
                    Catuai juga merupakan salah satu unsur kopi Robusta. Karena itulah tingkat keasaman kopi
                    ini begitu rendah. Kopi jenis catuai bisa kita temui di daerah Timor Timor dan daerah bagian
                    timur Indonesia. Meski punya citarasa pahit, kopi catuai meninggalkan rasa buah dan rempah
                    yang kental setelah menyeruput kopi ini.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Caturra.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Caturra</br></h4>
                </a>
                <p>
                    Kopi ini pertama kali ditemukan di Kolombia, Kosta Rika dan Nikaragua. Pohon kopinya yang
                    kecil-kecil banyak tumbuh di sekitar Amerika Selatan. Kopi yang kemudian lebih banyak
                    dikembangkan di Brazil ini dibedakan ke dalam dua jenis, bright acidity dan low-to-medium
                    body.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Pacamara.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Pacamara</br></h4>
                </a>
                <p>
                    Menurut para penikmat kopi, kopi pacamara punya citarasa yang luar biasa dengan sedikit rasa
                    manis citrus. Kopi ini punya keseimbangan rasa yang mengagumkan dan aroma tumbuhan yang nikmat.
                    Pacamara adalah jenis kopi yang unik dan punya kualitas yang baik.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kopi Sumatera.jpg" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Sumatera</br></h4>
                </a>
                <p>
                    Tak jauh berbeda dari tetangganya, Kopi Gayo, Kopi khas Sumatera juga punya kepopuleran hingga ke
                    mancanegara. Kopi Sumatera umumnya berasal dari daerah Mandaling. Menurut sejarahnya, kopi yang punya
                    cita rasa enak dan khas serta berkualitas ini dibawa dari Mekkah yang kemudian ditanam di Minangkabau
                    dan dikembangkan oleh pemerintah Hindia Belanda.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Sidikalang.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Sidikalang</br></h4>
                </a>
                <p>
                    Sidikalang berasal dari Kabupaten Dairi, Sumatera Utara.
                    Kopi Sidikalang dikenal dengan ciri khas tebal, keasaman yang rendah, dengan kadar bitterness yang tinggi.
                    Kopi ini dibudidayakan di kawasan Bukit Barisan.
                    Sidikalang punya kepopuleran hingga ke mancanegara, kopi ini mampu menandingi kopi khas Brazil.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kintamani.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Kintamani</br></h4>
                </a>
                <p>
                    Kopi Kintamani terkenal sebagai kopi dengan kulitas yang bagus.
                    Karena proses pengembangan kopi di daerah Kintamani ditanam di daerah berhawa sejuk,
                    bahkan perawatannya masih menggunakan sistem pengairan tradisional.
                    Kopi kintamani masih termasuk kopi organik yang memiliki tekstur halus dan lembut di lidah.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Lanang pas.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Lanang</br></h4>
                </a>
                <p>
                    Nama ‘Lanang’ disematkan pada kopi ini karena dipercaya dapat menambah vitalitas pria.
                    Kadar kafein yang tinggi yang membuat dapat berlama-lama tidak memejamkan mata untuk tidur.
                    Kopi yang banyak diproduksi di Jawa Timur ini, sudah terkenal hingga ke Amerika.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Wamena.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Wamena</br></h4>
                </a>
                <p>
                    Tanah Papua yang memang subur dan sangat baik untuk tanaman kopi.
                    Kopi wamena punya aroma yang harum dan tekstur halus, serta keunikan after taste yang bercita rasa manis.
                    Kenikmatan dari kopi Wamena ini tak hanya terkenal di Indonesia,
                    tapi hingga ke mancanegara seperti Amerika, Singapura, Jepang, dan Australia.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Pranger2.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Pranger</br></h4>
                </a>
                <p>
                    Setiap kopi yang dibudidayakan di Jawa Barat masih disebut kopi Java Preanger.
                    Kopi Preanger yang dikenal sejak zaman pendudukan Belanda.
                    Kopi ini terkenal enak, bahkan kenikmatan kopi Preanger ini terasa hingga ke Eropa.
                    Saking enaknya, orang Eropa menyebut kopi ini
                    dengan A Cup of Tea yang berarti secangkir Jawa.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Kona.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Kona</br></h4>
                </a>
                <p>
                    Dari deretan kopi termahal di dunia, pasti ada nama kopi Kona di sana.
                    Kopi dengan cita rasa yang khas dan nikmat ini hanya bisa tumbuh di Hawaii saja.
                    Tak ayal untuk dapat menikmati atau sekedar mencicipi kopi ini,
                    kita musti merogoh kocek cukup dalam.
                    Kopi Kona juga hanya bisa tumbuh di Hawai pada musim-musim tertentu.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Flores.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Flores</br></h4>
                </a>
                <p>
                    Kopi Flores nampaknya masih mendominasi daftar kopi terkenal dunia.
                    Kopi Flores yang berasal dari Flores, Nusa Tenggara.
                    Kopi Flores ada yang berupa kopi Arabica, ada pula yang berupa kopi Robusta.
                    Yang menjadikan khas dari kopi Flores ini adalah cita rasa asamnya
                    yang murni dan aroma lemon yang harum.
                </p>
                <br></br>
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/Lampung.png" height="100" alt="">
                <a href="#">
                    <h4><br>Kopi Lampung</br></h4>
                </a>
                <p>
                    Kopi yang bersal dari salah satu daerah diIndonesia yaitu kopi Lampung.
                    Kopi Lampung sebagian besar masih termasuk dalam jenis kopi robusta.
                    Kopi yang terkenal dengan rasa dan aromanya yang khas ini
                    banyak dibudidayakan di dataran tinggi
                    seperti di sekitar Lampung Tenah, Lampung Barat, dan daerah Tanggamus.
                </p>
                <br></br>
            </div>

        </div>
    </div>
</section>
<!-- End blog Area -->
<!-- Star Sponsor Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Sponsorship By</h1>
                    <p>Terimakasih Atas Kerjasamanya</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/DanainLogo.png" width="320" alt="">
            </div>
            <div class="col-lg-6 col-md-6 single-blog">
                <img class="img-fluid" src="~/images/PockeTravel.png" width="1000" alt="">

            </div>
        </div>
    </div>
</section>
<!-- End Sponsor Area -->
